NODE_ENV=production | development | test

DOMAIN=
PROTOCOL=

WEB_URL=$PROTOCOL://$DOMAIN
API_URL=

OPENAI_API_KEY=
GOOGLE_PLACE_API_KEY=

SESSION_SECRET=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

BLOB_READ_WRITE_TOKEN=
