@utility theme-slate {
  --background: light-dark(
      oklch(100% 0 106.37),
      oklch(17.76% 0 0)
  );
  --background-soft: light-dark(
      oklch(100% 0 106.37),
      oklch(26.45% 0 0)
  );

  --foreground: light-dark(
      oklch(26.45% 0 0),
      oklch(100% 0 106.37)
  );
  --foreground-soft: light-dark(
      oklch(37.96% 0.1783 293.74),
      oklch(94.33% 0.0284 294.59)
  );

  --primary: light-dark(
      oklch(54.13% 0.2466 293.01),
      oklch(28.27% 0.1351 291.09)
  );
  --primary-foreground: light-dark(
      oklch(28.27% 0.1351 291.09),
      oklch(96.91% 0.016059133147051364 293.7557582814141)
  );
}
