:root {
  --border-default: oklch(87.2% 0.01 258.338);
  --border-disabled: #CCD5DF;
  --border-subtle: #CCD5DF;
  --border-brand: oklch(0.5405 0.1913 258.97);

  --border-info: #295EFF;
  --border-success: #0E813E;
  --border-warning: #8A6A19;
  --border-danger: oklch(0.8556 0.0781 22.7);

  --focus: #295EFF;
}

.dark {

}
