:root {
  --foreground-base: oklch(0.1776 0 0);
  --foreground-disabled: #7189A7;
  --foreground-support: #3A495D;
  --foreground-brand: #295EFF;
  --foreground-info: #295EFF;
  --foreground-success: #0E813E;
  --foreground-warning: oklch(0.8652 0.1768 90.38);
  --foreground-danger: oklch(0.5361 0.2099 29.47);
}

.dark {

}
