@import 'tailwindcss';
@import 'tw-animate-css';

@import './theme/default.css';

@theme {
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
  --font-raleway: var(--font-raleway);
  --font-roboto: var(--font-roboto);
  --font-roboto-mono: var(--font-roboto-mono);
  --font-inter: var(--font-inter);
  --font-open-sans: var(--font-open-sans);
  --font-graduate: var(--font-graduate);

  --breakpoint-xs: 420px;

  --radius: 0.5rem;
}

@theme inline {
  --color-bg: var(--bg);
  --color-fg: var(--fg);

  --color-selection: var(--selection);
  --color-selection-fg: var(--selection-fg);

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);

  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);

  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);

  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);

  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-success: var(--success);
  --color-success-fg: var(--success-fg);

  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);

  --color-error: var(--error);
  --color-error-fg: var(--error-fg);

  --color-navbar: var(--navbar);
  --color-navbar-fg: var(--navbar-fg);

  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  ::selection {
    @apply bg-selection text-selection-fg;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  .lucide {
    @apply size-4;
  }
}

@utility editor {
  h1 {
    font-size: var(--text-4xl);
  }

  h2 {
    font-size: var(--text-3xl);
  }

  h3 {
    font-size: var(--text-2xl);
  }

  h4 {
    font-size: var(--text-xl);
  }

  h5 {
    font-size: var(--text-lg);
  }

  blockquote {
    @apply border-l-4 pl-4;
  }
}

@utility container-wrapper {
  @apply w-full max-w-340;
  margin-inline: auto;
  padding-inline: 1rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}
